* {
  font-family: helvetica, arial, sans-serif;
}
--Menu-------------
ul.menu {
display:inline;
list-style: none;
overflow: auto;
float:left;
border: 1px solid black;
}
li {
  font: 12px helvetica, arial, sans-serif;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #999;
}
li.active a {
  font-weight: bold;
}
li:last-child {
  border: none;
}
.menublock{
width:1024px;
border:1px solid black;
}

------
div.main {
font-family: helvetica, arial, sans-serif;
display:block;
border: 1px solid black;
}