/** CSS Reset **/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input { outline: none; }

/** --------------------------------------- **/

/** remember: widths in %, text in em, height in px **/


/*** Fonts ***/

@font-face {
	font-family: proxima-nova-reg;
    src: url('../static/fonts/proximanova-regular-webfont.eot');
    src: url('../static/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../static/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../static/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: proxima-nova-semibold;
    src: url('../static/fonts/proximanova-semibold-webfont.eot');
    src: url('../staticfonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../static/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../static/fonts/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: proxima-nova-bold;
	src: url('../static/fonts/proximanova-bold-webfont.eot');
    src: url('../static/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../static/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../static/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body {
	font-family: open sans, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
}

p {
	font-family:'open sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	font-size:15px;
	line-height:22px;
	color: #2C3844;
}


/*** General ***/

html, body, container, main {
	width: 100%;
}

#content-wrap {
	width: 100%;
}

#content {
	max-width:980px;
	margin: 0 auto;
	min-height: 600px;
	padding-top: 40px;
	padding-bottom: 40px;
}


/*** Page Header Styles ***/

header {
	width: 100%;
	margin: 0 auto;
	height: 180px;
	background-color:#f1f1f1;
	background-image:url(../static/images/header-bg.jpg);
}

#header-wrap {
	max-width: 980px;
	height: 180px;
	background-color:#f1f1f1;
	margin:0 auto;
}

#logo {
	width: 50%;
	height: 180px;
	float: left;
	background-color:#f1f1f1;
}

#search-bar {
	height: 90px;
	width:25%;
	background-color: #3C4B5B;
	float: left;
	text-align:center;
}

#search-box input[type="text"] {
    background: url(../static/images/mag-glass-2-blue.png) no-repeat 5px 1px #BDCCD4;
    border: 0 none;
    font: normal 12px Open Sans,Helvetica,Sans-serif;
    color: #2C3844;
    width: 180px;
	margin: 28px 30px 30px 30px;
	height: 32px;
    padding: 6px 35px 6px 20px;
	
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
   
    }

#search-box input[type="text"]:focus {
    width: 180px;
	background: url(../static/images/mag-glass-2-white.png) no-repeat 5px 2px #212A33;
	color: #fff;
}
	
#metanav {
	width: 25%;
	height: 90px;
	background-color: #2C3844;
	float: right;
}

#metanav ul.metanav {
  margin: 37px auto;
  overflow: auto;
  height: 40px;
  list-style: none;
  text-align:center;
}

ul.metanav li {
  font-family: proxima-nova-semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform:uppercase;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  color: #636F7C;
}

ul.metanav li a {
	color: #636F7C;
	text-decoration: none;
}

ul.metanav li a:hover {
	color: #fff;
}

nav {
	width: 50%;
	height: 90px;
	background-color: #212A33;
	float: right;
}

/* hides submenu */
nav ul ul {
	display:none;
}

/* shows submenu */
nav ul li:hover > ul {
	display: block;
}

/* first level menu items (aways visible) */
nav ul {
	font-family: proxima-nova-semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform:uppercase;
	padding: 29px 0px 30px 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}
	
nav ul li {
	float: left;
}

nav ul li:hover {
		background: #2C3844;
	}

nav ul li:hover a {
			color: #fff;
	}
	
nav ul li a {
		display: block; 
		padding: 10px 17px;
		color: #636F7C; 
		text-decoration: none;
	}
	
nav ul li:last-child a{
	padding-right: 15px;
	padding-left: 15px;
}

/* second level menu items */
nav ul ul {
	background: #2C3844; 
	border-radius: 0px; 
	padding: 0;
	position: absolute;
}

nav ul ul li {
		float: none; 
		border-bottom: 1px solid #212A33;
		position: relative;
		color: #636F7C;
	}
	
nav ul ul li:first-child {
		border-top: 1px solid #212A33;

	}
	
nav ul ul p {
		font-family: proxima-nova-reg, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    	font-size: 12px;
    	font-weight: normal;
    	text-transform:none;
		color: #636F7C;

	}
	
nav ul ul h1 {
		font-family: proxima-nova-semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    	font-size: 12px;
    	font-weight: normal;
    	text-transform:uppercase;
		color: #636F7C;
	}
		
nav ul ul li a {
			padding: 15px 17px 15px 17px;
			color: #636F7C;
	}	

nav ul ul li a:hover {
		background: #192026;
		color:#fff;
	}
	

/*** Breadcrumbs Styles ***/
.breadcrumbs-wrap {
	width: 100%;
	height: 40px;
	background-color: #F1F1F1;
}

.breadcrumbs {
	max-width:980px;
	height: 40px;
	margin: 0px auto;
}

.breadcrumbs span {
	color: #8A939D;
}

h3.breadcrumbs {
  font-family: proxima-nova-reg, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:13px;
  color: #212A33;
  padding: 13px 0 0 20px;
}

h3.breadcrumbs a {
	text-decoration:none;
	color: #8A939D;

}

h3.breadcrumbs a:hover {
	text-decoration:none;
	color: #212A33;

}


/*** Homepage Styles ***/
#hp-intro-wrap {
	width: 100%;
	height: 440px;
	background-color: #98C7D3;
	background-image:url(../static/images/ocean-landscape-01.jpg);
	background-position: -70px -410px;
	background-repeat:no-repeat;
}

#hp-intro {
	max-width: 980px;
	margin: 0 auto;
	text-align:center;
	padding-top: 100px;
}

h1.hp-intro {
	font-size:24px;
	font-weight: 300;
	line-height:40px;
	color: #212A33;
}

h2.hp-intro {
	font-family: proxima-nova-semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	text-transform:uppercase;
	font-weight: normal;
	line-height:40px;
	color: #212A33;
	margin-top:40px;
	margin-bottom:5px;
}

h2.hp-intro a {
	text-decoration:none;
	color: #212A33;
}


#hp-widget-wrap {
	max-width:980px;
	margin: 0 auto;
	height: 365px;
	background-color: #fff;
}

.hp-widget {
	width: 33.33%;
	height: 365px;
	background-color: #fff;
	float: left;
	text-align:center;
}

.hp-widget h2 {
	font-family: proxima-nova-semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform:uppercase;
	color: #2C3844;
	margin-bottom:15px;
}

.hp-widget h2 a {
	text-decoration:none;
	color: #2C3844;
}

.hp-widget h2 a:hover {
	color: #FF4E57;
}

#hp-mission-wrap {
	width: 100%;
	height: auto;
	background-color:#f1f1f1;
	border-top: 1px solid #e5e5e5;
}

#hp-mission {
	max-width: 980px;
	margin: 0 auto;
	padding: 60px 0px 60px 0px;
}

h1.hp-mission {
	font-family: 'open sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:24px;
	font-weight:300;
	line-height:32px;
	margin-left:20px;
	margin-bottom: 15px;
	color: #2C3844;
}

p.hp-mission {
	margin-left:20px;
	margin-right: 20px;
}


/*** Footer Styles ***/


#footer-top-wrap {
	width: 100%;
	background-color:#2C3844;
	height: 320px;
}

footer#top {
	max-width: 980px;
	margin: 0 auto;
	height: 320px;
	background-color:#2C3844;	
}

.footer-widget {
	width:33%;
	float: left;
	padding: 60px 20px 60px 20px;
}

#footer-sm {
	width: 20%;
	float: left;
	padding: 60px 10px 60px 10px;
}


#sm-fb a {
	width: 20px;
	height: 35px;
	text-indent: -9999px; 
	display: block;
	background-image:url(../static/images/fb-sprite.png);
	background-position:0 0px;
	float: left;
	margin: -8px 25px 0 0;
}

#sm-fb a:hover {
	background-position: 0 -35px;
}

#sm-twitter a {
	width: 35px;
	height: 35px;
	text-indent: -9999px; 
	display: block;
	background-image:url(../static/images/twitter-sprite.png);
	background-position:0 0px;
	float: left;
	margin: -8px 20px 0 0;
}

#sm-twitter a:hover {
	background-position: 0 -35px;
}


#sm-linkedin a {
	width: 40px;
	height: 35px;
	text-indent: -9999px; 
	display: block;
	background-image:url(../static/images/linkedin-sprite.png);
	background-position:0 0px;
	float: left;
	margin: -10px 40px 15px 0;
	background-repeat:no-repeat;
}

#sm-linkedin a:hover {
	background-position: 0 -35px;
}

#footer-bottom-wrap {
	width: 100%;
	background-color:#212A33;
	height: 80px;
}

footer#bottom {
	max-width: 980px;
	margin: 0 auto;
	height: 80px;
	background-color:#212A33;
}

footer#bottom p {
	padding: 30px 20px 0px 20px;
}

footer p {
	color: #BDCCD4;
	font-size:13px;
}

h1.footer {
	font-size:22px;
	color: #BDCCD4;	
	margin-bottom:20px;
}




/*** Common Section Header Styles ***/

h1.section-header-single {
	margin:0px 20px 0 20px;
	font-family: open sans, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:28px;
	font-weight:300;
	padding-top:55px;
}

h1.section-header-double {
	margin:0px 20px 0 20px;
	font-family: open sans, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:28px;
	font-weight:300;
	line-height:30px;
	padding-top:40px;
}

h2.page-subheader {
	margin:0px 0 0 20px;
	font-family: open sans, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:24px;
	font-weight:300;
	padding-bottom: 20px;
}

#section-icon {
	float: left;
	margin: 40px 20px;
}

#section-header {
	float: left;
	width: 60%;
}

#page-nav-btns {
	width:30%;
	float:right;
}

#top-btn {
	float: right;
	width: 100%;
	margin-bottom: 10px;
}

#top-btn a {
	font-family: proxima-nova-bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	font-size:13px;
	line-height:32px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	float: right;
}

a.top-btn {        
    display: block;
    text-align: center;
	width:135px;
	height:34px;
	background: #3C4B5B;
	border-radius:17px;
	border: none;
}

a.top-btn:hover {
	background: #212A33;
}

#next-btn {
	float: right;
}
	
input.button {
	width:135px;
	height:34px;
	padding: 0px 20px 0px 20px;
	background: #FF4E57;
	border-radius:17px;
	border: none;
	display:block;
	cursor:pointer;
	
	font-family: proxima-nova-bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	font-size:13px;
	text-transform:uppercase;
	color:#fff;
}

.button:hover {
  background: #BF3B41;
}

/*** Skills Styles ***/

#skills-header-wrap {
	width: 100%;
	height: 145px;
	background-color:#005D81;
}

#skills-header {
	max-width:980px;
	height: 145px;
	margin: 0 auto;
	color: #BDCCD4;
}

#skills-learnmore {
	float: right;
	width: 30%;
	background-color:#BDCCD4;
	height: 145px;
}

#skills-learnmore p {
	padding: 50px 20px 0 35px;
}

#skills-learnmore p a {
	text-decoration: none;
	color:#212A33 ;
}

#skills-learnmore p a:hover {
	text-decoration:underline;
}


#all-skills-list {
	padding-left: 20px;
	padding-right: 20px;
	
	column-count: 3;
	-webkit-column-count: 3; /* Safari and Chrome */
	-moz-column-count: 3; /* Firefox */
	
	-moz-column-gap:30px; /* Firefox */
	-webkit-column-gap:30px; /* Safari and Chrome */
	column-gap:30px;
}

#all-skills-list p {
	font-size:24px;
	line-height:24pt;
	font-weight:300;
	color: #989898;
}

#skills-checklist {
	width: 68%;
	float: left;
	padding-left:20px;
	min-height: 500px;
	
	column-count: 2;
	-webkit-column-count: 2; /* Safari and Chrome */
	-moz-column-count: 2; /* Firefox */
	
	-moz-column-gap:30px; /* Firefox */
	-webkit-column-gap:30px; /* Safari and Chrome */
	column-gap:30px;
	
}	



/*** Checklist Styles ***/

/* hide checkbox */
#checklist-form input[type="checkbox"] {
  display: none;
}

/* if checkbox is checked, then do these things */
#checklist-form input[type="checkbox"]:checked + label {
  color: #FF4E57;
}

label {
	font-size: 22px;
	font-weight: 300;
	color: #989898;
}
/* styles when hovering over options */
label:hover {
  color: #FF4E57;
  cursor: pointer;
  
  /* transitions and animations */
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}