/* // Lazy browser reset // */

* {
  margin: 0;
  padding: 0;
}

/* // Page styles // */

body {
  width: 600px;
  margin: 20px auto;
  font-family: open sans, sans-serif;
  font-size: 28px;
  color: #999;
  font-weight: 300;
}

h1 {
  font-size:28px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
}

a {
    text-decoration:none;
    color: #F15A24;
    }
a:hover {
    color: #000;
    }

/* // Checklist Styles // */

/* hide checkbox */
input[type="checkbox"] {
  display: none;
}

/* if checkbox is checked, then do these things */
input[type="checkbox"]:checked + label {
  color: #F15A24;
}

/* styles when hovering over options */
label:hover {
  color: #F15A24;
  cursor: pointer;
  
  /* transitions and animations */
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
  
input.button {
  
	width:130px;
	height:50px;
	margin: 20px 0 30px 0;
	padding: 0px 20px 0px 20px;
	background: #e6e6e6;
	border-radius:5px;
	border: 1px solid #ccc;

	font-family: OpenSans, sans-serif;
	font-size:16pt;
	color:#444;
}

.button:hover {
  background: #F15A24;
	color: #ddd;
}

